@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  font-family: "Nunito",  sans-serif;
  background-color: black;
}
html,
body,
#root {
  background-color: black;
  width: 100%;
  height: auto;
  margin: 0px;
  color: #fff;
}

* {
  box-sizing: border-box;
}